<div class="fixedLayout">
	<div class="demo-grid-sizes demo-flex-display">
            <div class="oj-flex oj-flex-items-pad">
              <div class="oj-sm-12 oj-md-12 oj-lg-8 oj-flex-item oj-sm-padding-4x">
              	<h1>Evidence</h1>
              </div>
            </div>

  <div class="oj-flex oj-sm-padding-2x">
  <div class="oj-md-3 oj-lg-3 oj-xl-3 oj-flex-item">
    <span class="oj-ux-ico-add-create-page evidence-icon"></span>
    AML Document for <strong style="font-size: initial;">David Frych</strong><br>
    <span class="details-content">
      <span style="color: #759c6c; font-weight: 700;">CA235.</span> Aug 18, 2020, Uploaded by CMSupervisior</span>
  </div>
  <div class="oj-md-3 oj-lg-3 oj-xl-3 oj-flex-item">
    <span class="oj-ux-ico-add-create-page evidence-icon"></span>
    AML Document for <strong style="font-size: initial;">David Frych</strong><br>
    <span class="details-content">
      <span style="color: #759c6c; font-weight: 700;">CA235.</span> Aug 18, 2020, Uploaded by CMSupervisior</span>
  </div>
  <div class="oj-md-3 oj-lg-3 oj-xl-3 oj-flex-item">
    <span class="oj-ux-ico-add-create-page evidence-icon"></span>
    AML Document for <strong style="font-size: initial;">David Frych</strong><br>
    <span class="details-content">
      <span style="color: #759c6c; font-weight: 700;">CA235.</span> Aug 18, 2020, Uploaded by CMSupervisior</span>
  </div>
  <div class="oj-md-3 oj-lg-3 oj-xl-3 oj-flex-item">
    <span class="oj-ux-ico-add-create-page evidence-icon"></span>
    AML Document for <strong style="font-size: initial;">David Frych</strong><br>
    <span class="details-content">
      <span style="color: #759c6c; font-weight: 700;">CA235.</span> Aug 18, 2020, Uploaded by CMSupervisior</span>
  </div>
</div>

<div class="oj-flex oj-sm-padding-2x">
  <div class="oj-md-3 oj-lg-3 oj-xl-3 oj-flex-item">
    <span class="oj-ux-ico-add-create-page evidence-icon"></span>
    AML Document for <strong style="font-size: initial;">David Frych</strong><br>
    <span class="details-content">
      <span style="color: #759c6c; font-weight: 700;">CA235.</span> Aug 18, 2020, Uploaded by CMSupervisior</span>
  </div>
  <div class="oj-md-3 oj-lg-3 oj-xl-3 oj-flex-item">
    <span class="oj-ux-ico-add-create-page evidence-icon"></span>
    AML Document for <strong style="font-size: initial;">David Frych</strong><br>
    <span class="details-content">
      <span style="color: #759c6c; font-weight: 700;">CA235.</span> Aug 18, 2020, Uploaded by CMSupervisior</span>
  </div>
  <div class="oj-md-3 oj-lg-3 oj-xl-3 oj-flex-item">
    <span class="oj-ux-ico-add-create-page evidence-icon"></span>
    AML Document for <strong style="font-size: initial;">David Frych</strong><br>
    <span class="details-content">
      <span style="color: #759c6c; font-weight: 700;">CA235.</span> Aug 18, 2020, Uploaded by CMSupervisior</span>
  </div>
  <div class="oj-md-3 oj-lg-3 oj-xl-3 oj-flex-item">
    <span class="oj-ux-ico-add-create-page evidence-icon"></span>
    AML Document for <strong style="font-size: initial;">David Frych</strong><br>
    <span class="details-content">
      <span style="color: #759c6c; font-weight: 700;">CA235.</span> Aug 18, 2020, Uploaded by CMSupervisior</span>
  </div>
</div>
<div class="oj-flex oj-sm-padding-2x">
  <div class="oj-md-3 oj-lg-3 oj-xl-3 oj-flex-item">
    <span class="oj-ux-ico-add-create-page evidence-icon"></span>
    AML Document for <strong style="font-size: initial;">David Frych</strong><br>
    <span class="details-content">
      <span style="color: #759c6c; font-weight: 700;">CA235.</span> Aug 18, 2020, Uploaded by CMSupervisior</span>
  </div>
  <div class="oj-md-3 oj-lg-3 oj-xl-3 oj-flex-item">
    <span class="oj-ux-ico-add-create-page evidence-icon"></span>
    AML Document for <strong style="font-size: initial;">David Frych</strong><br>
    <span class="details-content">
      <span style="color: #759c6c; font-weight: 700;">CA235.</span> Aug 18, 2020, Uploaded by CMSupervisior</span>
  </div>
  </div>

    </div>
   </div>


<style type="text/css"> 
.evidence-icon {position: relative;left: 30px;font-size: 40px;margin-right: 55px;top: 25px;}
.details-content {position: relative;left: 99px;font-size: 10px;}

@media only screen and (max-width: 600px) {}


   </style>

  

